<h1>Profiles#show</h1>
<p>Find me in app/views/profiles/show.html.erb</p>
<div class="container">
  <% if policy(@profile).update? %>
  <div class="row">
    <%= link_to "edit profile", edit_profile_path(), class: "btn btn-success" %>
  </div>
  <% end %>
  <% if policy(@profile).destroy? %>
  <div class="row">
    <%= link_to "delete", @profile, method: :delete, class: "btn btn-success" %>
  </div>
  <% end %>
  <div class="row">
    <div class="offset-sm-3 col-sm-6">
      <h1><%= @profile.name %></h1>
      <h1><%= @profile.description %></h1>
      <h1><%= @profile.phone %></h1>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Booking
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <% if user_signed_in? && current_user.profile == false && current_user.phone_verif == true %>
               <div id="root"></div>
               <% elsif user_signed_in? && current_user.profile == false && current_user.phone_verif == false %>
               <% session[:verif_phone] = request.url %>
                <%= link_to "Verif you phone number",   edit_user_registration_path, class: "btn btn-primary" %>
              <% elsif user_signed_in? && current_user.profile == true %>
                <h2>You can not BOOKING with this account</h2>
                <%= link_to "Sing Out", destroy_user_session_path(), method: :delete, class: "btn btn-primary" %>
              <% else %>
              <%= link_to "SignIn", new_user_session_path, class: "btn btn-primary" %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <%= javascript_pack_tag "application" %>
<% end %>

